@font-face {
  font-family: minecraftFont;
  src: url("../minecraft.ttf");
}
#izmers {
  font-size: 50px;
}
.platums {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
h1{
  //font-family: 'Courier New', Courier, monospace;
  font-family: 'minecraftFont';
  color: white;
  text-align: center;
}
body {
  font-family: 'minecraftFont';
  color: white;
  background-image: url("../images/minecraftbg.png");
  background-repeat: no-repeat, repeat;
  
  background-size: cover;
  background-color: #cccccc;
 text-align: center;
}
img {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
p{
  font-family: 'minecraftFont';
  color: white;
  font-size: 20px;
}
div {
  font-family: 'minecraftFont';
    color: white;
  text-align: center;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}