@font-face {
  font-family: minecraftFont;
  src: url("../minecraft.ttf");
}
.backgroundvideo {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  transform: translate(-50%, -50%);
}
.buttones {
  min-width: 37.0370370370370vh;
  min-height: 3.70370370370370%;
  font-size: 1.4vh;
  font-family: 'minecraftFont';
  position: absolute;
  color: white;
  left: 50%;
  transform: translate(-50%);
  background: url("../images/buttonO.png") no-repeat;
  background-size: cover;
  text-align: center;
  z-index: 2;
}
.aligntext {
  font-family: 'minecraftFont';
  text-shadow: 0.207vh 0.207vh black;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.buttones:hover {
  background: url("../images/buttonX.png") no-repeat;
  background-size: cover;
  color: moccasin;
}
.button1 {
  position: absolute;
  top: 34%;
  transform: translate(-50%);
}
.button2 {
  position: absolute;
  top: 38.43%;
  transform: translate(-50%);
}
.button3 {
  position: absolute;
  top: 42.85%;
  transform: translate(-50%);
}
.button4 {
  position: absolute;
  top: 49.45%;
  transform: translate(-50%);
}